# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/server
/digital-papyrus-api

# Test binary
*.test

# Output
*.out

# Dependency directories
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# Database
/data/*.db
/data/*.db-journal
/data/*.db-wal
/data/*.db-shm

# OS
.DS_Store
Thumbs.db
